*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;    
}

html{
    --color1: #2E294Eff;
    --black:#2E294Eff;
    --color2: #1b998bff;
    --black1: #050505ff;
    --white: #ebe5dd;
    color: var(--black);
    background-color: var(--white);
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: var(--black);
}
.nav__responsive{
    display: none;
}
.nav__container{
    
    z-index: 10;
    font-size:  20px;
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    box-shadow: 0 2px 4px 0 rgb(44, 44, 44 , 0.2) ;
    background-color: var(--white);
    .logo{
        margin-left: 50px ;
        font-weight: 500;
        font-size: 32px;
        font-family: 'Allan', Courier, monospace;
    }
    .nav__list{
        display: flex;
        width: 80%;
        justify-content: flex-end;
        align-items: center;
        .nav__item{
            margin: 0 15px;
            font-weight: 300;
        }
        .nav__item-contact{
            background-color: var(--color2);
            padding: 5px 15px;
            margin: 0 5px;
            font-weight: 400;
            border-radius: 6px;
            box-shadow: 1px  1px  5px var(--black);

            a{
                color: var(--white);
            }
        }
        .nav__item-contact:hover{
            opacity: 0.82;
        }
        .nav__item-contact:active{
            opacity: 1;
            box-shadow: none;
        }
    }
}

body{
    margin: 10% 0 0 ;
}
.container{
    width: 80%;
    margin: auto;
    section{
        margin-bottom: 80px;
    }
}


#about-me{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10%;
    h2{
        color: var(--color1);
    }
    p{
        text-align: left;
    }
    .btn-am{
        color: var(--white);
        font-size: 25px;
        padding: 8px 15px;
        border: none;
        background-color: var(--color2);
        margin: 15px;
        border-radius: 12px;
        box-shadow: 1px  1px  5px var(--black);
        img{
            width: 25px;
            margin-left: 10px;
            margin-top: 9px;
        }
    }
    .btn-am:hover{
        opacity: 0.82;
        cursor: pointer;
    }
    .btn-am:active{
        box-shadow: none;
        opacity: 1;
    }
}

#skills{
    color: var(--black);
    text-align: center;
    padding: 0 50px;
    h3{
        border-bottom: 2px solid var(--black);
        padding: 0 10px;
        font-size: 25px;
        display: inline-block;
    }
    .skills-layout{
        margin: auto;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 50px;
        .card-skill{
            div{
                margin-top: 15px;
            }
        }
        p{
            text-decoration: underline;
            display: inline;
        }
      }
}


#projects{
    text-align: center;
    padding: 0 50px;
    h3{
        border-bottom: 2px solid var(--black);
        padding: 0 10px;
        font-size: 25px;
        display: inline-block;
    }
    .card_project{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 2px 2px 5px;
        border-radius: 12px;
        margin-bottom: 25px;
        align-items: center;
        .img-contenedor{
            height: 100%;
            flex-basis: 350px;
            img{
                width: 100%;
            }
        }
        .card_body{
            width: 700px;
            padding:25px;
            h4{
                font-size: 20px;
                padding: 10px 0px;
                border-bottom: 1px solid var(--black);
            }
            .recursos{
                display: flex;
                justify-content: space-around;
                span{
                    background-color: var(--color1);
                    color: var(--white);
                    padding: 5px 10px;
                    border-radius: 12px;
                    box-shadow: 1px 5px 1px var(--black);
                }
            }
            .btn-am{
                border: none;
                border: 1px solid var(--black);
                background-color: transparent;
                padding: 8px;
                border-radius: 12px;
                box-shadow: 1px  1px  5px var(--black);
                img{
                    width: 30px;
                }
            }
            .btn-am:hover{
                opacity: 0.82;
                cursor: pointer;
            }
            .btn-am:active{
                box-shadow: none;
                opacity: 1;
            }
        }
    }
}


#contact{
    text-align: center;
    h2{
        border-bottom: 2px solid var(--black);
        padding: 0 10px;
        font-size: 25px;
        display: inline-block;
    }
    .contact-form{
        padding: 50px;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 20px;
        gap: 20px;
        label{
            padding: 10px 0;
            border-bottom: 1px solid var(--black);
        }
        .inputs{
            outline: none;
            padding: 15px 15px;
            font-size: 18px;
            border-radius: 8px;
            background-color: transparent;
            border: 1px solid var(--black);
            box-shadow: inset 5px 2px 6px  var(--black);
            cursor: text ;
        }
        textarea{
            resize: none;
            min-height: 250px;
        }
        .inputs::-webkit-scrollbar{
            width: 7px;
            background-color: transparent;
        }
        button{
            align-self: center;
            color: var(--white);
            font-size: 25px;
            padding: 8px 15px;
            border: none;
            background-color: var(--color2);
            margin: 15px;
            border-radius: 12px;
            box-shadow: 1px  1px  5px var(--black);
        }
        button:hover{
            opacity: 0.82;
            cursor: pointer;
        }
        button:active{
            box-shadow: none;
            opacity: 1;
        }
    }
}


.footer{
    background-color: var(--color1);
    height: 150px;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 15px;
    .card-contact{
        margin-top: 60px;
        width: 50px;
        img{
            width: 100%;
        }
    }
    .box{
        margin-left: auto;
    }
    span{
        align-self: center;
        font-size: 22px;
        color: var(--black1);
    }
}


@media (max-width: 700px){
    body{
        margin-top: 15ch;
    }
    .nav__container{
        justify-content: center;
    }
    .nav__list{
        display: none;
        visibility: hidden;
        width: 0 !important;
    }
    .logo{
        margin: 0 !important;
    }
}